:root{
    --text-white:#ffffff;
    --text-blue:rgb(24, 99, 255);
    --titel-color:rgb(27, 39, 61);
    --text-hover:#ffffff;
    --text-hover:linear-gradient(to right, #102baf 0%, #1664ff 100%);
    --titel-sub-text: #777777;
    --background-color-white:#ffffff;
    --hero-secton-overlay: -webkit-linear-gradient(left, rgba(16, 43, 175, 0.2) 0%, rgba(22, 100, 255, 0.2) 100%);
    --sponsor-bg-color:rgb(245, 248, 255);
    --card-hover-color: linear-gradient(to right, #102baf 0%, #1664ff 100%);
    --card-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1);
}


.hero-secton{
    background-image: url(/assets/images/jpg/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
}

.navbar{
    padding: 20px 0;
}

.nav-link{
    color: var(--text-white);
    font-weight: bold;
    position: relative;
}
.nav-link:hover{
    color: var(--text-white);

}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    color: var(--text-white);
    background-color: var(--background-color-white);
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before{
    width: 100%;
    transition: 0.3s;
}

.nav-btn{
    background-color: var(--background-color-white);
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: bold;
    color: var(--text-blue);
}

.nav-btn:hover{
    background-color: var(--background-color-white);
    color: var(--text-blue);
}


.Hero-countdown{
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-count-content{
    text-align: center;
}

 .count {
    color: #ee163a;
    font-size: 72px;
    font-weight: 600;
    line-height: 60px;
}

 .text {
    color: #ee163a;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.count-color-1  .count {
       color: #ee163a;
}

.count-color-1  .count {
       color: #ee163a;
}