:root{
    --text-white:#ffffff;
    --text-blue:rgb(24, 99, 255);
    --titel-color:rgb(27, 39, 61);
    --text-hover:#ffffff;
    --text-hover:linear-gradient(to right, #102baf 0%, #1664ff 100%);
    --titel-sub-text: #777777;
    --background-color-white:#ffffff;
    --hero-secton-overlay: -webkit-linear-gradient(left, rgba(16, 43, 175, 0.2) 0%, rgba(22, 100, 255, 0.2) 100%);
    --sponsor-bg-color:rgb(245, 248, 255);
    --card-hover-color: linear-gradient(to right, #102baf 0%, #1664ff 100%);
    --card-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1);
}
/* ========== wahed-css start ========== */
/* ----- my Components start ----- */
:root{
    --theam-blue: #102baf; 
}
.c-t{
    color: var(--text-blue) !important;
}
.bg-t{
    background-color: var(--text-blue) !important;
}
/* ----- my Components end ----- */
.section-gap{
    padding-top: 115px;
    padding-bottom:  130px;
}
.about-bg{
    background-color: #f5f8ff;
}
.card-radius{
    border-bottom-right-radius: 0rem !important;
    border-top-left-radius: 0rem !important;
}
.icon span{
    position: absolute;
    top: -10%;
    left: 33%;
    opacity: 0.08;
    transform: scale(1.2);
}
.shadow-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-hover-1{
    transition: 0.5s;
}
.card-hover-1:hover{
    background-color: rgba(11, 28, 112, 1);
}
.card-hover-1:hover i,
.card-hover-1:hover p,
.card-hover-1:hover h5,
.card-hover-1:hover .icon span{
    color: white !important;
}
.card-img-top {
    height: 360px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    transition: transform 0.4s ease;
    border-top-right-radius: 0.5rem;
  }
@media (max-width: 768px) {
    .card-img-top {
      height: 330px;
    }
  }
.icon-set{
    opacity: 0% !important;
    transition: 0.5s;
}
.card-hover-2:hover .icon-set{
    opacity: 100% !important;
}
.card-hover-2 .card-body .icon-set i{
    transition: 0.5s;
}
.card-hover-2 .card-body .icon-set i:hover{
    color: #102baf !important;
}
.card-hover-2 .card-body{
    width: 100%;
    background-color: white;
    bottom: 0;
    transition: 0.5s;
}
.card-hover-2:hover .card-body{
    background-color: var(--theam-blue);
    padding-top: 50px !important;
}
.card-hover-2:hover .card-body h5,
.card-hover-2:hover .card-body p{
    color: white !important;
}
.card-border-blue{
    border: 3px solid #E7EFFF !important;
}
.prise{
    background-image: linear-gradient(180deg, rgba(24, 99, 255, 0.85) 0%, rgba(24, 99, 255, 0.85) 100%), url("../images/event/pricing-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.prise h2,
.prise p{
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

/* ========== wahed-css end ========== */